body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  color: #4f506f;

  @media #{$mq-medium} {
    font-size: $base-font-size * 1;
    line-height: $base-line-height * 1.2;
  }

  @media #{$mq-large} {
    font-size: $base-font-size * 1.1;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size * 1.2;
  }
}
