.container {
  margin: 0 4%;
  height: 100%;
  position: relative;

  @media #{$mq-medium} {
    margin: 0 8%;
  }

  @media #{$mq-large} {
    margin: 0 12%;
  }

  @media #{$mq-xlarge} {
    margin: 0 18%;
  }
}
.d-flex {
  display: flex;
}
.pre-title {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
}
