.header-top {
  width: 100%;
  height: 50px;
  background: #f2f2f2;

  @media all and (max-width: #{$bp-medium}) {
    height: auto;
    padding: 1rem 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media all and (max-width: #{$bp-medium}) {
      flex-direction: column;
      justify-content: space-around;
    }
  }
  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;

    @media all and (max-width: #{$bp-medium}) {
      padding: 1rem 0;
    }
  }
  &__item {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    &::after {
      content: "";
      height: 60%;
      width: 2px;
      background: darkgray;
      margin-left: 1rem;
      display: inline-block;
    }
  }

  &__link {
    font-size: 0.85rem;
    color: darkgray;
  }
}
.header-middle {
  height: 80px;
  position: relative;
  width: 100%;
  z-index: 15;
  background: white;

  &--scroll {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
  }

  &__wrapper {
    position: relative;
    @include full-size;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__list {
    display: flex;
    height: 100%;
  }
  &__link {
    padding: 0 1rem;
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.header {
  height: 100vh;
  min-height: 830px;
  overflow: hidden;
  width: 100%;
}
