.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__list {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__item {
    padding-right: 2rem;
  }
  &__link {
    color: $color-secondary;
    padding: 0.5rem 0.7rem;

    &--active {
      border-bottom: 1px solid $color-secondary;
    }
  }
}
